  <div class="row" style="margin-top:20px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <center> <h2>Hotel suggestions</h2>    

<br>
  

<div class="card">
     <div class="card-header">
     <small id="emailHelp" class="form-text text-muted">Plann helps you organize your travel</small>
  </div>
  
  <div class="card-body">
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Hotel de Diorule</b></div>
  <div class="card-body">
    <h5 class="card-title">$250 per night</h5>
    <p class="card-text text-white">Located at 45 Harthwire street, off Horshmire Road, London, UK.</p>
    <p class="card-text text-white">5 stars</p>
  </div>
  
</div>
  </div>

</div>

<br><br>
 
         </center>
        </div>
      
        <div class="col-md-2"></div>
        
    </div>