<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>New Receipt</h2>
   <a> <%=link_to "Create Receipt", new_user_receipt_path(@user), class: 'btn btn-primary' %> </a>
  <button type="button" class="btn btn-success" onclick="location.href='/loaddata/uploadfile'">UPLOAD RECEIPT</button>
</div>
</div>
</body>
</html>
