<h1>Editing Suggestions Box Trip</h1>

<%= render 'form', suggestions_box_trip: @suggestions_box_trip %>

<%= link_to 'Show', @suggestions_box_trip %> |
<%= link_to 'Back', suggestions_box_trips_path %>
