
<div class="row">
    
    <div class="col-md-2"></div>
      <div class="col-md-8">
          
          <div class="jumbotron">
              <h1>Welcome to expensease!</h1>
              <br>
              <p></p>
               <small id="emailHelp" class="form-text text-muted">Expensease helps you track your receipts and plan your budget.</small>
              <br>
               <% if user_signed_in? %>
                <div class="actions form-group">
                   <a> <%=link_to "View my receipts", receipts_path, class: 'btn btn-success' %> </a>
                </div>
               
               
               <% else %>
                <div class="actions form-group">
                   <a> <%=link_to "Create a new account", new_user_registration_path, class: 'btn btn-success' %> </a>
                </div>
              
              <% end %>
               
               
               
          </div>
          
      </div>
         <div class="col-md-2"></div>

    
</div>


