
<center style="margin-top:35px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
     <h1><b>Add new Receipt</b></h1>
    <hr>
    <%= render 'form' %>
    <%= link_to 'Back', user_receipts_path(@user) %>  
            
        </div>
        <div class="col-md-4"></div>
        
    </div>
    

</center>

